@model Garage2.Models.ParkedVehicle

@{
    ViewData["Title"] = "Delete";
}

<h1>Checkout</h1>

<h3>Are you sure you want to checout?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            <span style="display: inline-block; width: 20px; height: 20px; background-color:@Model.Color; border: 1px solid #000; margin-left: 10px;"></span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfWheels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfWheels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedDuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingCost)
        </dd>
    </dl>

    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Checkout" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
