@model Garage2.Models.ParkedVehicle

@{
    ViewData["Title"] = "Details";
}

<div class="my-10 mx-auto max-w-md">
    <h1 class="mb-6 text-center text-3xl font-bold">Details</h1>

    <h4 class="text-center text-lg font-semibold">Parked Vehicle</h4>
    <hr class="my-4 border-gray-300" />

    <dl class="gap-y-4 grid grid-cols-1 text-center">
        <div class="gap-4 flex items-center justify-between">
            <dt class="text-gray-700 font-medium"> @Html.DisplayNameFor(model => model.VehicleType) </dt>
            <dd> @Html.DisplayFor(model => model.VehicleType) </dd>
        </div>

        <div class="gap-4 flex items-center justify-between">
            <dt class="text-gray-700 font-medium"> @Html.DisplayNameFor(model => model.RegistrationNumber) </dt>
            <dd> @Html.DisplayFor(model => model.RegistrationNumber) </dd>
        </div>

        <div class="gap-4 flex items-center justify-between">
            <dt class="text-gray-700 font-medium"> @Html.DisplayNameFor(model => model.Color) </dt>
            <dd class="flex items-center justify-center">
                <div style="width: 40px; height: 20px; background-color:@Model.Color;" class="mr-2 border"></div>
                <span>@Html.DisplayFor(model => model.Color)</span>
            </dd>
        </div>

        <div class="gap-4 flex items-center justify-between">
            <dt class="text-gray-700 font-medium"> @Html.DisplayNameFor(model => model.Make) </dt>
            <dd> @Html.DisplayFor(model => model.Make) </dd>
        </div>

        <div class="gap-4 flex items-center justify-between">
            <dt class="text-gray-700 font-medium"> @Html.DisplayNameFor(model => model.Model) </dt>
            <dd> @Html.DisplayFor(model => model.Model) </dd>
        </div>

        <div class="gap-4 flex items-center justify-between">
            <dt class="text-gray-700 font-medium"> @Html.DisplayNameFor(model => model.NumberOfWheels) </dt>
            <dd> @Html.DisplayFor(model => model.NumberOfWheels) </dd>
        </div>

        <div class="gap-4 flex items-center justify-between">
            <dt class="text-gray-700 font-medium"> @Html.DisplayNameFor(model => model.ArrivalTime) </dt>
            <dd> @Html.DisplayFor(model => model.ArrivalTime) </dd>
        </div>

        <div class="gap-4 flex items-center justify-between">
            <dt class="text-gray-700 font-medium"> @Html.DisplayNameFor(model => model.ParkedDuration) </dt>
            <dd> @Html.DisplayFor(model => model.ParkedDuration) </dd>
        </div>
    </dl>

    <div class="mt-6 space-x-4 flex justify-center">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="bg-indigo-700 text-white px-4 py-2 rounded hover:bg-indigo-800">Edit</a>
        <a asp-action="Index" class="bg-gray-700 text-white px-4 py-2 rounded hover:bg-gray-800">Back to List</a>
    </div>
</div>
