@model IEnumerable<Garage2.Models.ParkedVehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Garage 2.0</h1>

<p>
    <a asp-action="CheckIn">Park a vehicle</a>
    <form asp-action="Index">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="searchField" value="@ViewData["CurrentFilter"]" placeholder="Search..." />
            <div class="input-group-append">
                <select class="form-control" name="type" value="@ViewData["CurrentType"]">
                    <option value="1">Registration Number</option>
                    <option value="2">Vehicle Type</option>
                    <option value="3">Color</option>
                    <option value="4">Make</option>
                    <option value="5">Model</option>
                </select>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentType="@ViewData["CurrentType"]">Search</button>
            </div>
        </div>
    </form>
    <a asp-action="Index">Back to Full List</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a class="text-dark" asp-action="Index" asp-route-sortBy="@ViewData["TypeSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentType="@ViewData["CurrentType"]">
                    @Html.DisplayNameFor(model => model.VehicleType)
                </a>
            </th>
            <th>
                <a class="text-dark" asp-action="Index" asp-route-sortBy="@ViewData["RegNrSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentType="@ViewData["CurrentType"]">
                    @Html.DisplayNameFor(model => model.RegistrationNumber)
                </a>
            </th>
            <th>
                <a class="text-dark" asp-action="Index" asp-route-sortBy="@ViewData["ArrivalTimeSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentType="@ViewData["CurrentType"]">
                    @Html.DisplayNameFor(model => model.ArrivalTime)
                </a>
            </th>
            <th>
                <a class="text-dark" asp-action="Index" asp-route-sortBy="@ViewData["ParkedDurationSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentType="@ViewData["CurrentType"]">
                    @Html.DisplayNameFor(model => model.ParkedDuration)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
               </td>
            <td>@Html.DisplayFor(modelItem => item.ParkedDuration)
               </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="CheckOut" asp-route-id="@item.Id">Checkout</a>
            </td>
        </tr>
}
    </tbody>
</table>
