@model Garage2.Models.Stats

@{
    ViewData["Title"] = "Statistics";
}

<div class="mx-auto my-10 max-w-md">
    <h2 class="mb-6 text-center text-3xl font-bold">@ViewData["Title"]</h2>

    <div class="mb-6 space-y-4">
        <div class="flex justify-between gap-x-4">
            <p class="text-lg font-semibold text-gray-700">Total:</p>
            <p class="text-lg text-gray-900">@Model.TotalVehicles</p>
        </div>
        <div class="flex justify-between gap-x-4">
            <p class="text-lg font-semibold text-gray-700">Motorcycles:</p>
            <p class="text-lg text-gray-900">@Model.Motorcycles</p>
        </div>
        <div class="flex justify-between gap-x-4">
            <p class="text-lg font-semibold text-gray-700">Cars:</p>
            <p class="text-lg text-gray-900">@Model.Cars</p>
        </div>
        <div class="flex justify-between gap-x-4">
            <p class="text-lg font-semibold text-gray-700">Trucks:</p>
            <p class="text-lg text-gray-900">@Model.Trucks</p>
        </div>
        <div class="flex justify-between gap-x-4">
            <p class="text-lg font-semibold text-gray-700">Buses:</p>
            <p class="text-lg text-gray-900">@Model.Buses</p>
        </div>
        <div class="flex justify-between gap-x-4">
            <p class="text-lg font-semibold text-gray-700">Vans:</p>
            <p class="text-lg text-gray-900">@Model.Vans</p>
        </div>
        <div class="flex justify-between gap-x-4">
            <p class="text-lg font-semibold text-gray-700">Bicycles:</p>
            <p class="text-lg text-gray-900">@Model.Bicycles</p>
        </div>
        <div class="flex justify-between gap-x-4">
            <p class="text-lg font-semibold text-gray-700">Number of wheels:</p>
            <p class="text-lg text-gray-900">@Model.Wheels</p>
        </div>
        <div class="flex justify-between gap-x-4">
            <p class="text-lg font-semibold text-gray-700">Revenue for current checkins:</p>
            <p class="text-lg text-gray-900">@Model.Revenue.ToString("C")</p>
        </div>
    </div>

    <div class="flex justify-center">
        <a asp-action="Index" class="rounded-lg bg-gray-800 px-6 py-3 text-white transition duration-300 hover:bg-gray-700">
            Back to overview
        </a>
    </div>
</div>